In [42]:
import pandas as pd
import requests

In [98]:
# Replace 'path_to_your_excel_file' with the actual path to your Excel file
excel_file_path = 'Country-Code.xlsx'

# Read the Excel file into a DataFrame
country_df = pd.read_excel(excel_file_path)

# Display the DataFrame
# country_df

In [140]:
def fetch_json_data(url):
    try:
        response = requests.get(url)
        response.raise_for_status()  # Raise an exception for 4xx and 5xx status codes
        return response.json()
    except requests.exceptions.RequestException as e:
        print("Error fetching data:", e)
        return None

url = "https://raw.githubusercontent.com/Papagoat/brain-assessment/main/restaurant_data.json"
json_data = fetch_json_data(url)

if json_data:
    # Now you can work with the restaurant data dictionary
    print("Data successfully fetched!")
    # Example usage:
    print("Length of JSON:", len(json_data))
else:
    print("Failed to fetch data. Please check the URL or your internet connection.")

Data successfully fetched!
Length of JSON: 79

In [141]:
def process_one_page(restaurant_data):
    # Lists to store extracted data
    restaurant_ids = []
    restaurant_names = []
    countries = []
    cities = []
    user_rating_votes = []
    user_aggregate_ratings = []
    cuisines_list = []

    # Iterate over each restaurant data and extract required fields
    for restaurant_entry in restaurant_data:
        restaurant_info = restaurant_entry["restaurant"]
        restaurant_ids.append(restaurant_info['R']['res_id'])
        restaurant_names.append(restaurant_info['name'])
        countries.append(restaurant_info['location']['country_id'])
        cities.append(restaurant_info['location']['city'])
        user_rating_votes.append(int(restaurant_info['user_rating']['votes']))
        user_aggregate_ratings.append(float(restaurant_info['user_rating']['aggregate_rating']))
        cuisines_list.append(restaurant_info['cuisines'])

    # Create DataFrame
    restaurants_df = pd.DataFrame({
        'Restaurant Id': restaurant_ids,
        'Restaurant Name': restaurant_names,
        'Country': countries,
        'City': cities,
        'User Rating Votes': user_rating_votes,
        'User Aggregate Rating': user_aggregate_ratings,
        'Cuisines': cuisines_list
    })
    
    # Join both tables
    merged_df = pd.merge(restaurants_df, country_df, left_on='Country', right_on='Country Code', how='inner')
    # Pick columns
    df = merged_df[['Restaurant Id', 'Restaurant Name', 'Country_y', 'City', 'User Rating Votes', 'User Aggregate Rating', 'Cuisines']]
    final_df = df.rename(columns={'Country_y': 'Country'})
    
    return final_df
    

process_one_page(json_data[3]["restaurants"])

,Restaurant Id,Restaurant Name,Country,City,User Rating Votes,User Aggregate Rating,Cuisines
0,58882,Byg Brewski Brewing Company,India,Bangalore,17394,4.9,"Continental, North Indian, Italian, South Indi..."
1,18706428,Byg Brewski Brewing Company,India,Bangalore,5692,4.8,"Finger Food, Asian, Pizza, Italian, North Indi..."
2,18871246,ShakesBierre,India,Bangalore,572,4.5,"Asian, Continental, European, North Indian"
3,18772094,Bombay Adda,India,Bangalore,3023,4.3,Modern Indian
4,18578798,TBC Sky Lounge,India,Bangalore,7673,4.7,"Continental, Asian, Italian, North Indian"
5,18945224,Secret Of Bangalore,India,Bangalore,866,4.3,"North Indian, South Indian, Continental, Asian..."
6,18254597,Brew and Barbeque - A Microbrewery Pub,India,Bangalore,6330,4.6,"Continental, North Indian, BBQ, Steak"
7,18387426,The Black Pearl,India,Bangalore,7769,4.7,"North Indian, European, Mediterranean, BBQ"
8,57833,Big Pitcher,India,Bangalore,9664,4.6,"American, Continental, North Indian, Mediterra..."
9,54162,The Black Pearl,India,Bangalore,10892,4.8,"North Indian, European, Mediterranean"
10,18853706,Brahma Brews,India,Bangalore,610,4.3,"Continental, South Indian, Finger Food, Pizza,..."
11,18625420,Burma Burma,India,Bangalore,1788,4.7,"Asian, Burmese"
12,18595782,The Pallet,India,Bangalore,3013,4.6,"Continental, Mediterranean, Italian, North Ind..."
13,18537585,The Reservoire,India,Bangalore,2724,4.6,"Continental, North Indian, Chinese, American"
14,56618,AB's - Absolute Barbecues,India,Bangalore,12443,4.9,"European, Mediterranean, North Indian, BBQ"
15,51040,Truffles,India,Bangalore,14984,4.7,"Cafe, American, Burger, Steak"
16,18874059,The Pump House,India,Bangalore,1057,4.3,"Continental, Finger Food"
17,18709627,Simon Says Brew Works,India,Bangalore,2362,4.6,"Continental, American, Italian, Modern Indian,..."
18,18727906,XOOX Brewmill,India,Bangalore,1782,4.5,"Modern Indian, European, Asian"
19,18642512,Stories,India,Bangalore,2636,4.6,"Continental, North Indian, Chinese"

In [150]:
def process_all_pages(json_data):
    # Initialize an empty list to store DataFrames
    dfs = []
    for item in json_data:
        df = process_one_page(item["restaurants"])
        dfs.append(df)
    concatenated_df = pd.concat(dfs)
    concatenated_df['Restaurant Id'] = concatenated_df['Restaurant Id'].astype(int)
    concatenated_df['User Rating Votes'] = concatenated_df['User Rating Votes'].astype(int)
    return concatenated_df

process_all_pages(json_data)

,Restaurant Id,Restaurant Name,Country,City,User Rating Votes,User Aggregate Rating,Cuisines
0,18649486,The Drunken Botanist,India,Gurgaon,4765,4.4,"Continental, Italian, North Indian, Chinese"
1,308322,Hauz Khas Social,India,New Delhi,13627,4.6,"Continental, American, Asian, North Indian, Ch..."
2,18856789,AIR- An Ivory Region,India,New Delhi,1819,4.1,"North Indian, Chinese, Continental, Asian"
3,307374,AMA Cafe,India,New Delhi,3252,4.4,"Cafe, Juices"
4,18238278,Tamasha,India,New Delhi,8112,4.4,"Finger Food, North Indian, Continental, Italian"
...,...,...,...,...,...,...,...
15,7900186,Mexico,New Zealand,Hamilton,100,4.2,Mexican
16,7900182,Thai House Express,New Zealand,Hamilton,51,4.0,Thai
17,7900023,Indian Star,New Zealand,Hamilton,63,3.8,"North Indian, Indian"
18,7900490,Zealong Tea Estate,New Zealand,Hamilton,55,4.7,"European, Asian, Desserts"
19,7900115,The Flying Burrito Brothers,New Zealand,Hamilton,58,3.9,Mexican