In [42]:
import pandas as pd
import requests

In [43]:
def fetch_json_data(url):
    try:
        response = requests.get(url)
        response.raise_for_status()  # Raise an exception for 4xx and 5xx status codes
        return response.json()
    except requests.exceptions.RequestException as e:
        print("Error fetching data:", e)
        return None

url = "https://raw.githubusercontent.com/Papagoat/brain-assessment/main/restaurant_data.json"
restaurant_data = fetch_json_data(url)

if restaurant_data:
    # Now you can work with the restaurant data dictionary
    print("Data successfully fetched!")
    # Example usage:
    print("Number of restaurants:", len(restaurant_data))
else:
    print("Failed to fetch data. Please check the URL or your internet connection.")

Data successfully fetched!
Number of restaurants: 79

In [94]:
import pandas as pd

# Lists to store extracted data
restaurant_ids = []
restaurant_names = []
countries = []
cities = []
user_rating_votes = []
user_aggregate_ratings = []
cuisines_list = []

# Iterate over each restaurant data and extract required fields
for restaurant_dictionary in restaurant_data[0]["restaurants"]:
    restaurant = restaurant_dictionary["restaurant"]
    restaurant_ids.append(restaurant['R']['res_id'])
    restaurant_names.append(restaurant['name'])
    countries.append(restaurant['location']['country_id'])
    cities.append(restaurant['location']['city'])
    user_rating_votes.append(int(restaurant['user_rating']['votes']))
    user_aggregate_ratings.append(float(restaurant['user_rating']['aggregate_rating']))
    cuisines_list.append(restaurant['cuisines'])

# Create DataFrame
restaurants_df = pd.DataFrame({
    'Restaurant Id': restaurant_ids,
    'Restaurant Name': restaurant_names,
    'Country': countries,
    'City': cities,
    'User Rating Votes': user_rating_votes,
    'User Aggregate Rating': user_aggregate_ratings,
    'Cuisines': cuisines_list
})

# Display the DataFrame
restaurants_df

,Restaurant Id,Restaurant Name,Country,City,User Rating Votes,User Aggregate Rating,Cuisines
0,18649486,The Drunken Botanist,1,Gurgaon,4765,4.4,"Continental, Italian, North Indian, Chinese"
1,308322,Hauz Khas Social,1,New Delhi,13627,4.6,"Continental, American, Asian, North Indian, Ch..."
2,18856789,AIR- An Ivory Region,1,New Delhi,1819,4.1,"North Indian, Chinese, Continental, Asian"
3,307374,AMA Cafe,1,New Delhi,3252,4.4,"Cafe, Juices"
4,18238278,Tamasha,1,New Delhi,8112,4.4,"Finger Food, North Indian, Continental, Italian"
5,18268712,Chili's Grill & Bar,1,Noida,3702,4.6,"Mexican, American, Italian, Burger"
6,18198449,Punjabi Angithi,1,New Delhi,3613,4.7,"North Indian, Chinese, Momos, Rolls, Fast Food"
7,18382360,Local,1,New Delhi,5694,4.3,"North Indian, Continental, Momos"
8,18273624,Cafeteria & Co.,1,New Delhi,4229,4.5,"Continental, Mexican, Fast Food"
9,18466951,Jungle Jamboree,1,Noida,2832,4.5,"North Indian, Continental, Chinese, BBQ"
10,306046,SodaBottleOpenerWala,1,Gurgaon,3818,4.2,"Parsi, North Indian, Maharashtrian, Beverages,..."
11,18337893,The Luggage Room Kitchen And Bar,1,New Delhi,1622,4.5,"Italian, Chinese, Continental"
12,18518483,Echoes Hudson Lane,1,New Delhi,2534,4.6,"Cafe, American, Chinese, Continental, North In..."
13,18246991,Odeon Social,1,New Delhi,5808,4.4,"Continental, American, Asian, North Indian, Mo..."
14,8913,Pirates of Grill,1,Gurgaon,5760,4.9,"North Indian, Mughlai, Continental"
15,313256,The Junkyard Cafe,1,New Delhi,5512,4.5,"North Indian, Mediterranean, Asian, Salad, Momos"
16,18562836,Diggin,1,New Delhi,2335,4.2,"Italian, Continental, Beverages"
17,17953943,The Burger Club,1,New Delhi,2411,4.2,"Burger, Fast Food, Beverages"
18,18258498,Chinese Kitchen,1,New Delhi,713,4.1,"Fast Food, Chinese, Momos"
19,18537536,Chili's Grill & Bar,1,New Delhi,2364,4.6,"Mexican, American, Italian"

In [95]:
# Replace 'path_to_your_excel_file' with the actual path to your Excel file
excel_file_path = 'Country-Code.xlsx'

# Read the Excel file into a DataFrame
country_df = pd.read_excel(excel_file_path)

# Display the DataFrame
country_df

    Country Code         Country
0              1           India
1             14       Australia
2             30          Brazil
3             37          Canada
4             94       Indonesia
5            148     New Zealand
6            162     Phillipines
7            166           Qatar
8            184       Singapore
9            189    South Africa
10           191       Sri Lanka
11           208          Turkey
12           214             UAE
13           215  United Kingdom
14           216   United States

In [96]:
merged_df = pd.merge(restaurants_df, country_df, left_on='Country', right_on='Country Code', how='left')

In [97]:
merged_df

,Restaurant Id,Restaurant Name,Country_x,City,User Rating Votes,User Aggregate Rating,Cuisines,Country Code,Country_y
0,18649486,The Drunken Botanist,1,Gurgaon,4765,4.4,"Continental, Italian, North Indian, Chinese",1,India
1,308322,Hauz Khas Social,1,New Delhi,13627,4.6,"Continental, American, Asian, North Indian, Ch...",1,India
2,18856789,AIR- An Ivory Region,1,New Delhi,1819,4.1,"North Indian, Chinese, Continental, Asian",1,India
3,307374,AMA Cafe,1,New Delhi,3252,4.4,"Cafe, Juices",1,India
4,18238278,Tamasha,1,New Delhi,8112,4.4,"Finger Food, North Indian, Continental, Italian",1,India
5,18268712,Chili's Grill & Bar,1,Noida,3702,4.6,"Mexican, American, Italian, Burger",1,India
6,18198449,Punjabi Angithi,1,New Delhi,3613,4.7,"North Indian, Chinese, Momos, Rolls, Fast Food",1,India
7,18382360,Local,1,New Delhi,5694,4.3,"North Indian, Continental, Momos",1,India
8,18273624,Cafeteria & Co.,1,New Delhi,4229,4.5,"Continental, Mexican, Fast Food",1,India
9,18466951,Jungle Jamboree,1,Noida,2832,4.5,"North Indian, Continental, Chinese, BBQ",1,India
10,306046,SodaBottleOpenerWala,1,Gurgaon,3818,4.2,"Parsi, North Indian, Maharashtrian, Beverages,...",1,India
11,18337893,The Luggage Room Kitchen And Bar,1,New Delhi,1622,4.5,"Italian, Chinese, Continental",1,India
12,18518483,Echoes Hudson Lane,1,New Delhi,2534,4.6,"Cafe, American, Chinese, Continental, North In...",1,India
13,18246991,Odeon Social,1,New Delhi,5808,4.4,"Continental, American, Asian, North Indian, Mo...",1,India
14,8913,Pirates of Grill,1,Gurgaon,5760,4.9,"North Indian, Mughlai, Continental",1,India
15,313256,The Junkyard Cafe,1,New Delhi,5512,4.5,"North Indian, Mediterranean, Asian, Salad, Momos",1,India
16,18562836,Diggin,1,New Delhi,2335,4.2,"Italian, Continental, Beverages",1,India
17,17953943,The Burger Club,1,New Delhi,2411,4.2,"Burger, Fast Food, Beverages",1,India
18,18258498,Chinese Kitchen,1,New Delhi,713,4.1,"Fast Food, Chinese, Momos",1,India
19,18537536,Chili's Grill & Bar,1,New Delhi,2364,4.6,"Mexican, American, Italian",1,India